@import 'mixins';
@import 'reset';

body {
  font-size: 62.5%;
  font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
}

canvas {
  width: 1024px;
  height: 768px;

}

#preload {
  display: none;
}


